projectMensajeria/db.sqlite3
projectMensajeria/.vscode/settings.json
projectMensajeria/sincronizar_usuarios.sh
projectMensajeria/usuario.txt
projectMensajeria/iniciar.sh
projectMensajeria/log
projectMensajeria/variables
projectMensajeria/projectMensajeria/settings.py
projectMensajeria/Mensajeria/script


projectMensajeria/static/media/acuse/*.pdf
projectMensajeria/static/media/acuse/*.jpg
projectMensajeria/static/media/acuse/*.jpge
projectMensajeria/static/media/acuse/*.png

projectMensajeria/static/media/acuse/*.PDF
projectMensajeria/static/media/acuse/*.JPG
projectMensajeria/static/media/acuse/*.JPGE
projectMensajeria/static/media/acuse/*.PNG


bin
lib
include
__pycache__
pip-selfcheck.json
*.pyc
*.code-workspace
