{% extends 'plantilla.html' %} {% load staticfiles %} {% block titulo %}
<title>Mensajeria : Registrar Mensajeria Interna</title>
{% endblock titulo %}

<!-- Bloque de archivos CSS -->
{% block staticCSS %}
<link rel="stylesheet" href="{% static '/css/jquery.step.css' %}"> {% endblock staticCSS %}
<!-- Fin Bloque de archivos CSS -->

<!-- Bloque de CONTENIDO -->
{% block contenido %}

<!-- BOTONES -->
<div id="botones" class="row center">
    <a id="modalInterna" class="waves-effect waves-light btn modal-trigger" href="#modalMensajeriaInterna">
        <i class="fas fa-sign-in-alt"></i> Registrar Mensajeria Interna</a>
</div>
<!-- FIN BOTONES -->


<!-- TABLA -->
<div id="asdf" class="asd z-depth-5">
    <table id="tabla" class="highlight striped" style="width:100%">
        <thead>
            <tr>
                <th style="width:150px;">Código</th>
                <th style="width:150px;">Remitente</th>
                <th style="width:150px;">Destinatario</th>
                <th style="width:250px;">Descripcion</th>
                <th style="width:150px;">Fecha Recibido</th>
                <th style="width:100px;">Estado</th>
                <th style="width:50px;">Detalles</th>
                <th style="width:50px;">Recibir</th>
            </tr>
        </thead>

        <tbody>

            {% for m in mensajeria %}
            <tr>
                <td id="cod{{ m.id }}" class="blue-text">{{ m.codigo }}</td>
                <td id="res{{ m.id }}">{{ m.remitente }}</td>
                <td id="des{{ m.id }}">{{ m.destinatario }}</td>
                <td>{{ m.descripcion }}</td>
                <td class="center">{{ m.fecha_recibido }}</td>

                {% if m.estado == "Recibido" %}
                <td id="est" class="center">
                    <div name="{{ m.id }}" class="estado green accent-4">{{ m.estado }}</div>
                </td>
                {% elif m.estado == "En Transito" %}
                <td id="est" class="center">
                    <div name="{{ m.id }}" class="estado yellow accent-4 black-text">{{ m.estado }}</div>
                </td>
                {% elif m.estado == "Pendiente" %}
                <td id="est" class="center">
                    <div name="{{ m.id }}" class="estado red accent-4" value="{{ m.estado }}">{{ m.estado }}</div>
                </td>
                {% elif m.estado == "Retenido" %}
                <td id="est" class="center">
                    <div name="{{ m.id }}" class="estado light-blue darken-1" value="{{ m.estado }}">{{ m.estado }}</div>
                </td>
                {% endif %}

                <td id="anc" class="center">
                    <button id="" class="btn-detalles btn waves-effect waves-light modal-trigger" data-target="datos" value="{{ m.codigo }}">
                        <i class="prefix far fa-eye "></i> Detalles</button>
                </td>

                <td id="anc{{ m.id }}" class="center botones_de_accion">
                    <button value="{{ m.boton.valor }}" class="{{ m.boton.clase }}" {{ m.boton.sin_modal }} >{{ m.boton.texto }}</button> 
                </td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
<!-- FIN TABLA -->


<!-- REGISTRAR MENSAJERIA INTERNA -->
<div id="modalMensajeriaInterna" class="modal row">
    <form action="{% url 'registrar_mensajeria_interna' %}" method="POST">{% csrf_token %}
        <div class="modal-content">
            <div class="interna">
                <h4 class="center">REGISTRAR MENSAJERIA INTERNA</h4>
                <div class="row">
                    <h6 class="col m9">
                        <i class=" prefix fas fa-user-circle fa-2x"></i> <span id="user">{{ user.get_full_name }}</apan>
                    </h6>
                    <h6 class="col m3 right">
                        <i class=" prefix fas fa-university fa-2x"></i> <span class="recp"></apan>
                    </h6>
                </div>
            </div>

            <div  class="row container">
                <input type="hidden" name="tipoMensajeria" value="interna">
                <div class="input-field col m6 ">
                    <i class="prefix fas fa-people-carry fa-3x"></i>
                    <input id="remitente" name="remitente" type="text" class="usuarios" autocomplete="off" required>
                    <label for="remitente" class="">Remitente *</label>
                </div>

                <div class="input-field col m6 ">
                    <i class="prefix fa fa-user-tag fa-3x"></i>
                    <input id="destinatario" name="destinatario" type="text" class="usuarios" autocomplete="off" required>
                    <label for="destinatario" class="">Destinatario *</label>
                </div>

                <div class="input-field col m3 ">
                    <i class="prefix fa fa-calendar-alt fa-3x"></i>
                    <input id="fechaRecibido" name="fechaRecibido" type="date" class="" readonly required>
                    <label for="fechaRecibido" class="active">Fecha Recibido *</label>
                </div>

                <div class="input-field col m3 ">
                    <i class="prefix far fa-clock fa-3x"></i>
                    <input id="horaRecibido" name="horaRecibido" type="time" class="" readonly required>
                    <label for="horaRecibido" class="active">Hora Recibido *</label>
                </div>


                <div id="div-prioridad1" class="input-field center col m6">
                    <p class="col m4">
                        <label class="prioridad">
                            <span>Prioridad *</span>
                        </label>
                        </p>
                        <p class="col m4">
                            <label class="prioridad">
                            <input class="with-gap" name="prioridad" type="radio" value="Baja" checked />
                            <span>Baja</span>
                        </label>
                        </p>
                        <p class="col m4">
                            <label class="prioridad">
                            <input class="with-gap" name="prioridad" type="radio" value="Alta" />
                            <span>Alta</span>
                        </label>
                        </p>
                </div>
                <div class="input-field col m12 ">
                    <i class="prefix fa fa-edit fa-3x"></i>
                    <input id="descripcion" name="descripcion" type="text" required>
                    <label for="descripcion" class="">Descripcion *</label>
                </div>

                <div class="input-field col m12 ">
                    <i class="prefix fas fa-comments fa-3x"></i>
                    <input id="comentario" name="comentario" type="text">
                    <label for="comentario" class="">Comentario</label>
                </div>

                <div class="input-field col m12 ">
                    <i class="prefix far fa-eye fa-3x"></i>
                    <input id="observacion" name="observacion" type="text">
                    <label for="observacion" class="">Observacion</label>
                </div>

                <input class="sucursal" name="sucursal" type="hidden" value="">

            </div>
        </div>
        <div class="modal-footer center">
            <input type="button" value="Cancelar" class="btn red modal-close">
            <input id="enviarInterna" type="submit" value="Guardar" class=" btn">
        </div>
    </form>
</div>
<!-- FIN REGISTRAR MENSAJERIA INTERNA -->
<script>
    var id_mensajeria = '';
    function ModalEntregar(valores) {

        //var valores = $(this).val();
        id_mensajeria = valores.split('-')[0];
        //var tercero = $('#tercero').val();
        console.log(valores)
        console.log(id_mensajeria)
        $('#codigo-firma').val(id_mensajeria);
        $('#id-h4').text('CODIGO:  ' + $("td[id='cod" + id_mensajeria + "']").text());
    };
</script>

<!-- FIRMA -->
<div id="firma" class="modal firma row">
    <div class="modal-content">
        <div class="externa">
            <h4 id="id-h4" style="color: #9e9e9e;margin: 30px 40px 20px;"></h4>
        </div>

        <div class="row container">
            <p>
                <label>
                    <input name="checkbox" type="checkbox" class="filled-in" id="check1"/>
                    <span>Entregado a un tercero</span>
                </label>
            </p>

            <input id="codigo-firma" class="codigo-firma" name="codigo-firma" type="hidden" value="">
            <input id="sucursal" class="sucursal" type="hidden" name="tipoMensajeria" value="interna">

            <div id="obs" class="">

            </div>

            <div class="modal-footer center">
                <input id="cancelar" type="button" value="Cancelar" class="btn red modal-close">
                <input id="guardar" type="submit" value="Guardar" class=" btn">
            </div>
        </div>
    </div>
</div>
<!-- FIN FIRMA -->


<!-- MODAL PARA MOSTRAR DETALLES DE MENSAJERIA INTERNA -->
<div id="datos" class="modal modal-datos row">
    <div class="modal-content">
        <div class="interna-datos">
            <div class="row">
                <h5 id="codigo-datos" style="color: #9e9e9e;margin: 32px 50px 0;">
                </h5>
            </div>
        </div>
        <div id="asdf" class="asd">
            <!--    Mostrar datos   -->
            <div class="row datos"></div>
            <!--    Fin Mostrar datos   -->
        </div>
        <div class="modal-footer center">
            <input type="button" value="Cerrar" class="btn azul modal-close">
        </div>
    </div>
</div>
<!-- FIN MODAL PARA MOSTRAR DETALLES DE MENSAJERIA INTERNA -->


{% endblock contenido %}
<!-- Fin Bloque de CONTENIDO -->

<!-- Bloque de archivos JS -->
{% block staticJS %}
<script src="{% static '/js/jquery.cookie.js' %}"></script>
<script src="{% static '/js/jquery.validate.min.js' %}"></script>
<script src="{% static '/js/jquery.steps.js' %}"></script>
<script src="{% static '/js/validarFormSteps.js' %}"></script>
<script src="{% static '/js/autoCompleteDepartamentos.js' %}"></script>
<script src="{% static '/js/autoCompleteUsuarios.js' %}"></script>
<script src="{% static '/js/mensajeriaInterna.js' %}"></script>
{% endblock staticJS %}
<!-- Fin Bloque de archivos JS -->